<%= form_with(model: cutaway_page) do |form| %>
  <% if cutaway_page.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cutaway_page.errors.count, "error") %> prohibited this cutaway_page from being saved:</h2>

      <ul>
        <% cutaway_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Родительская страница", style: "display: block" %>
    <%= form.collection_select :parent_id, CutawayPage.all, :id, :name, {prompt: "Это страница без категории"} %>
  </div>

  <div>
    <%= form.label "Название", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label "Описание", style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label "Это корневая страница?", style: "display: block" %>
    <%= form.check_box :index %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
