<p style="color: green"><%= notice %></p>
<h1 class="text-center"><%= @cutaway_page.name %></h1>
<div class="container">
  <div class="text-center">
    <%= link_to "Редактировать страницу", edit_cutaway_page_path(@cutaway_page) %> |
    <%= link_to "Все страницы", cutaway_pages_path %> |
    <%= link_to "Добавить языковую версию", new_cutaway_page_version_path(cutaway_page_id: @cutaway_page.id) %>
  </div>

  <div id="content">
    <%= render @cutaway_page %>
  </div>

  <%= button_to "Удалить эту страницу", @cutaway_page, method: :delete, class: "btn btn-danger" %>
</div>
