<div id="<%= dom_id footer %>">
  <p>
    <strong>Code:</strong>
    <%= footer.code %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= footer.active %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= footer.name %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= footer.language_id %>
  </p>

</div>
