<div id="<%= dom_id script %>">
  <p>
    <strong>Code:</strong>
    <%= script.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= script.description %>
  </p>

  <p>
    <strong>Link tag:</strong>
    <%= script.link_tag %>
  </p>

  <p>
    <strong>As file:</strong>
    <%= script.as_file %>
  </p>

  <p>
    <strong>For all pages:</strong>
    <%= script.for_all_pages %>
  </p>

</div>
