<%= form_with(model: language) do |form| %>
  <% if language.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(language.errors.count, "error") %> prohibited this language from being saved:</h2>

      <ul>
        <% language.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Код(Например: RU)", style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label "Использовать этот язык по умолчанию?", style: "display: block" %>
    <%= form.check_box :default %>
  </div>

  <div>
    <%= form.submit "Сохранить" %>
  </div>
<% end %>
