<%= form_with(model: style, html: { :onsubmit => "save_code()" }) do |form| %>
  <% if style.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
        <% style.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="editor" class="mb-5">
    <%= style.code %>
  </div>

  <script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/css");
  </script>

  <h2>Дополнительная конфигурация</h2>
  <p><strong>*Если заполнить поле "ссылка", ДОПОЛНИТЕЛЬНО будет подключена либа по ссылке!</strong></p>
  
  <div>
    <%= form.label "Название", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label "Описание", style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label "Ссылка", style: "display: block" %>
    <%= form.text_field :link_tag %>
  </div>

  <br>
  <%= form.hidden_field :code %>
  <div class="mb-5">
    <%= form.submit "Сохранить", class: "btn btn-success" %>
  </div>
<% end %>

<script>
  var save_code = function() {
    let body_field = document.getElementById('style_code');
    
    var editor = ace.edit("editor");

    body_field.value = editor.getSession().getValue();
  }
</script>
