<div id="<%= dom_id style %>">
  <p>
    <strong>Code:</strong>
    <%= style.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= style.description %>
  </p>

  <p>
    <strong>Название:</strong>
    <%= style.name %>
  </p>

  <p>
    <strong>Link tag:</strong>
    <%= style.link_tag %>
  </p>

</div>
