<div id="<%= dom_id style %>">
  <p>
    <strong>Code:</strong>
    <%= style.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= style.description %>
  </p>

  <p>
    <strong>Link tag:</strong>
    <%= style.link_tag %>
  </p>

  <p>
    <strong>As file:</strong>
    <%= style.as_file %>
  </p>

  <p>
    <strong>For all pages:</strong>
    <%= style.for_all_pages %>
  </p>

</div>
