<div id="<%= dom_id nav %>">
  <p>
    <strong>Code:</strong>
    <%= nav.code %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= nav.active %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= nav.name %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= nav.language_id %>
  </p>

</div>
