<div id="<%= dom_id cutaway_page_version %>">
  <h2>Информация</h2>
  <p>
    <strong>Название(Отображается в nav):</strong>
    <%= cutaway_page_version.name %>
  </p>

  <p>
    <strong>Язык:</strong>
    <%= cutaway_page_version.language.code.upcase %>
  </p>

  <p>
    <strong>Отображается на сайте:</strong>
    <%= cutaway_page_version.visible %>
  </p>

  <p>
    <strong>URL страницы:</strong>
    <%= link_to "/#{cutaway_page_version.language.code}/#{cutaway_page_version.route_link}", "/#{cutaway_page_version.language.code}/#{cutaway_page_version.route_link}", target: "_blank" %>
  </p>

</div>
