<div id="<%= dom_id cutaway_page_version %>">
  <p>
    <strong>Name:</strong>
    <%= cutaway_page_version.name %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= cutaway_page_version.language_id %>
  </p>

  <p>
    <strong>Header:</strong>
    <%= cutaway_page_version.header %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= cutaway_page_version.body %>
  </p>

  <p>
    <strong>Index:</strong>
    <%= cutaway_page_version.index %>
  </p>

  <p>
    <strong>Visible:</strong>
    <%= cutaway_page_version.visible %>
  </p>

  <p>
    <strong>Images:</strong>
    <%= cutaway_page_version.images %>
  </p>

  <p>
    <strong>Cutaway page:</strong>
    <%= cutaway_page_version.cutaway_page_id %>
  </p>

  <p>
    <strong>Route link:</strong>
    <%= cutaway_page_version.route_link %>
  </p>

</div>
