<h1 class="text-center buffer-both mb-5">Создание страницы</h1>

<div class="text-center">

</div>

<div id="editor">
  <xmp>
    <p>Этот код уже внутри тега body</p>
  </xmp>
</div>

<div>
  <%= render "layouts/files_routes" %>
</div>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/html");
</script>

<h2 class="text-center mt-5 mb-5">Дополнительная конфигурация</h2>

<div id="editor-small">
  <xmp>
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
	  <meta name="description" content="">
	  <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
  </xmp>
</div>

<script>
    var editor_small = ace.edit("editor-small");
    editor_small.setTheme("ace/theme/monokai");
    editor_small.session.setMode("ace/mode/html");
</script>

<div class="form-box">
<%= form_with(model: cutaway_page_version,html: { :onsubmit => "save_code()" }) do |form| %>
  <% if cutaway_page_version.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cutaway_page_version.errors.count, "error") %> prohibited this cutaway_page_version from being saved:</h2>

      <ul>
        <% cutaway_page_version.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-subbox">
  <div>
    <%= form.label "Название", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label "URL этой страницы", style: "display: block" %>
    <%= form.text_field :route_link %>
  </div>
  </div>

  <div class="form-subbox">

  <div>
    <%= form.label "Отображать эту страницу на сайте", style: "display: block" %>
    <%= form.check_box :visible %>
  </div>

  <div>
    <%= form.label "Язык", style: "display: block" %>
    <%= form.collection_select :language_id, Language.all, :id, :code %>
  </div>
  
  <%= form.hidden_field :cutaway_page_id, value: params[:cutaway_page_id] %>
  <%= form.hidden_field :body %>
  <%= form.hidden_field :header %>

  <div class="text-center mt-3">
    <%= form.submit "Сохранить", class: "btn btn-success" %>
  </div>
</div>
<% end %>
</div>

<script>
  var save_code = function() {
    let body_field = document.getElementById('cutaway_page_version_body');
    let header_field = document.getElementById('cutaway_page_version_header');
    
    var editor = ace.edit("editor");
    var editor_small = ace.edit("editor-small");

    body_field.value = editor.getSession().getValue();
    header_field.value = editor_small.getSession().getValue();
  }
</script>



