<h1 class="text-center">Редактирование <%= @cutaway_page_version.language.code.upcase %> версии страницы <%= @cutaway_page_version.cutaway_page.name %></h1>

<div class="text-center mb-5">
  <%= link_to "Информация о странице", @cutaway_page_version %> |
  <%= link_to "Страницы", @cutaway_page_version.cutaway_page %>
</div>

<%= render "edit", cutaway_page_version: @cutaway_page_version %>

