<h2 class="text-center mt-5">Файлы из библиотек</h2>
<div class="container mt-3">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <% Library.all.each do |lib| %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-heading<%= lib.name.gsub(/\s+/, "") %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%= lib.name.gsub(/\s+/, "") %>" aria-expanded="true" aria-controls="panelsStayOpen-collapse<%= lib.name.gsub(/\s+/, "") %>">
              <%= lib.name %>
            </button>
          </h2>
          <div id="panelsStayOpen-collapse<%= lib.name.gsub(/\s+/, "") %>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading<%= lib.name.gsub(/\s+/, "") %>">
            <div class="accordion-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Имя файла</th>
                        <th scope="col">Ссылка для вставки в сайт</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% lib.library_items.each do |item| %>
                        <tr>
                          <td><%= item.identifier %></td>
                          <td>src="<%= item.url %>"</td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
        <% end %>
      </div>
</div>